meta {
  title: "Hiking map";
  description: "Cartography often seen in Norwegian hiking and nordic skiing maps";
  author: "Vidar Bronken Gundersen";
  link: "https://github.com/vibrog/mapcss-hiking";
  watch-modified: true;
}
